@media (max-width: $screen-xs-max) {
	.dating2{
		&__cont{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 100vh;
			text-align: center;
			background-color: #f7f7f7;		
			h2{
				font-size: 22px;
				margin: 0;
			}
			.button-mob{
				margin: 0 auto;
				margin-top: 50px;
				margin-bottom: 35px;
				max-width: 190px;
			}
			.continue{
				font-weight: bold;
				font-size: 16px;
				color: #1a82ff;
				text-decoration: none;
				transition: all .3s ease;
				&:hover{
					text-shadow:  0 0 5px rgba(26,130,255,.34);
				}
			}
		}
		&__heart{
			border-radius: 10em;
			overflow: hidden;
			width: 100px;
			max-width: 100%;
			border: 8px solid #fff;
			height: 100px;
			img{
				width: 100%;
				max-width: 100%;
			}				
		}
		&__img-wrap{
			position: relative;	
			margin-bottom: 35px;
			&:after{
				position: absolute;
				content: '';
				background-image: url('../images/heart.png');
				background-repeat: no-repeat;
				background-size: contain;
				width: 44px;
				height: 38px;
				top: 75%;
				right: 0;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}