@font-face {
	font-family: 'HelveticaRegular';
	src: url('../fonts/HelveticaRegular/HelveticaRegular.eot'),
	url('../fonts/HelveticaRegular/HelveticaRegular.woff') format('woff'),
	url('../fonts/HelveticaRegular/HelveticaRegular.ttf') format('truetype'),
	url('../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}
html,
body {
	position: relative;
	height: 100%;
	overflow-x: hidden;
}

@media (max-width: $screen-xs-max) {
	.button-mob{
		display: block;
		width: 100%;
		max-width: 290px;
		min-height: 40px;
		line-height: 40px;
		border-radius: 2px;
		background-color: #1a82ff;
		font-family: Helvetica;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		color: #fff;
		transition: all .3s ease;
		color: #fff;	
		margin: auto;
		&:hover {
			text-decoration: none;
			box-shadow: 0 8px 16px 0 rgba(26,130,255,.44);
			color: #fff;		
		}
	}

	// input начало
	.input{
		width: 100%;
		height: 40px;
		border: solid 1px #dfe1e2;
		padding-left: 15px;
		outline: none;
		margin-bottom: 15px;
		border-radius: 2px;
		&--wrong-input{
			width: 100%;
			height: 40px;
			border: solid 1px #fe4141;
			padding-left: 15px;
			outline: none;
			margin-bottom: 15px;
			border-radius: 2px;
		}
	}
	.textarea{
		width: 100%;	
		max-width: 100%;	
		height: 120px;
		border: solid 1px #dfe1e2;
		border-radius: 2px;
		resize: none;
		outline: none;
		padding-left: 15px;
		padding-top: 15px;
	}	
	// input конец



// form начало
.form{		
	flex: 0 0 auto;
	label{
		font-weight: 400;
		font-size: 14px;
		text-align: left;
		color: #666666;
		padding-bottom: 3px;
		display: block;
		cursor: pointer;
		span{
			font-size: 13.5px;
			color: #00b0ca;
		}
	}
	.wrong-label{
		color: #fe4141;
	}

	$select-width: 100%;
	$select-height: 40px; 


	.select-hidden {
		display: none;
		visibility: hidden;
		padding-right: 10px;
	}
	.select {
		cursor: pointer;
		display: inline-block;
		position: relative;
		font-family: Arial;
		font-size: 14px;
		letter-spacing: 0.8px;
		text-align: left;
		color: #000000;
		width: $select-width;
		height: $select-height;
		margin-bottom: 7px;
	}
	.select-styled {
		padding-top: 10px;
		padding-left: 15px;
		position: absolute; 
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 2px;
		background-color: #ffffff;
		border: solid 1px #dfe1e2;
		&:after {
			content: "\f107";
			font-family: "FontAwesome";
			color: #000;
			font-size: 25px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
		}
		&:hover {
			background-color: #fff;
		}
		&:active, &.active {
			&:after {
				content: "\f106";
			}
		}
	}

	.select-options {
		display: none; 
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 1;
		margin: 0;
		padding: 0;
		list-style: none;
		border: solid 1px #dfe1e2;
		background-color: #fff;
		li {
			margin: 0;
			padding: 12px 0;
			text-indent: 15px;
			border-top: 1px solid #dfe1e2;
			transition: all .3s;
			&:hover {
				color: #ff4757;
				background-color: rgba(223,220,220, 0.1);
			}
			&[rel="hide"] {
				display: none;
			}
		}
	}
	.button-wrap{
		padding-top: 95px;
		button{
			border: none;
			outline: none;	
		}
	}
	&--communication{
		margin-left: 15px;
		margin-right: 15px;
		padding-top: 10px;
		.select-options{
			margin-top: 10px;
			li{
				border: none;
			}
		}
	}
}
// form конец
.margin-top{
	margin-top: 140px;
}
// top-nav начало
.top-nav{
	min-height: 50px;
	background-color: #1a82ff;
	line-height: 50px;
	padding-left: 15px;
	a{
		i{
			font-size: 18px;
			color: #fff;
			margin-right: 15px;
		}	
	}
	p{
		color: #fff;
		text-decoration: none;
		display: inline-block;
		margin: 0;
		font-size: 18px;
	}	
	.fa-check{
		float: right;
		line-height: 50px;
	}
}
// top-nav конец


// menu-nav-js начало
.menu-nav-js{
	display: none;
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			a{
				text-decoration: none;
			}
		}
	}
}
// menu-nav-js конец


// online начало
.status{
	display: flex;
	flex-direction: row;
	align-items: center;
	.online{
		max-width: 8px;
		width: 100%;
		height: 8px;
		background-color: #2ed573;
		display: block;
		border-radius: 10em;
	}
}
// online конец



// popup окна начало
.white-popup {
	position: relative;
	background: #1a82ff;
	padding: 20px;
	width: 290px;
	min-height: 184px;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #fff;
	justify-content: center;
	text-align: center;
	p{
		font-size: 16px;
	}
	.mfp-close {
		width: 30px;
		height: 30px;
		background-color: #479BFF;
		line-height: 30px;
		position: absolute;
		border-radius: 2px;
		right: 10px;
		top: 10px;
		text-decoration: none;
		text-align: center;
		opacity: 1;
		padding: 0;
		color: #FFF;
		font-style: normal;
		font-size: 30px;
	}
	a{
		max-width: 212px;
		width: 100%;
		display: block;
		min-height: 40px;
		line-height: 40px;
		border-radius: 2px;
		background-color: #ffffff;	
		color: #282828;
		font-size: 16px;
		text-decoration: none;
		margin-top: 5px;
		font-weight: bold;
	}
}
// popup окна конец




// swiches начало
.holder{
	width:56px;
	position:relative;
	display: inline-block;
	float: right;
}

.check-ios{
	visibility: hidden;
}

.holder span{
	display:block;
	height:14px;
	width: 37px;
	position: absolute;
	top:0;
	left:0;
	z-index:1;	

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;	
}

.holder span:after {
	background-color: #C6C5C5;
	content:'';
	display:block;
	height:14px;
	width: 37px;
	position: absolute;
	top:1px;
	left:1px;
	z-index:2;

	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}


.holder label{
	background: #fff;
	cursor: pointer;
	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	top: -3.5px;
	left:1px;
	z-index:3;	

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;

	-webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.3);
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.3);
}

.check-ios:checked ~ span {
	background-color:#C6E0FF;
}

.check-ios:checked ~ span:after {
	height:0;
	width:0;
	left:50%;
	top:50%;
}

.check-ios:checked + label {
	left: 25px;
	background-color:#1a82ff;
}
// swiches конец






// trigger начало
.hamburger-menu {
	display: inline-block;
	height: 100px;
	transition: all 0.3s ease-in-out;
	position: absolute;
	top: 15px;
	left: 15px;
	&:hover {
		cursor: pointer;
	}

	.menu-item {
		background: #fff;
		display: block;
		height: 2px;
		margin: 0 0 5px;
		transition: all 0.3s ease-in-out;
		width: 20px;
	}

	&.open {
		.menu-item {
			margin: 10px 0 5px;

			&:first-child {
				transform: rotate(45deg);
				transform-origin: 12.5px;
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				transform-origin: -21px -13px;
			}
		}
	}
}

// trigger конец







// menu toggle начало
.mobile-header-nav {
	background-color: #fff;
	display: none; 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	position: absolute;
	top: 50px; 
	width: 100%;
	max-width: 100%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	z-index: 9;
	transition: all .3s;
	li {
		border-bottom: 1px solid #f7f7f7;
		&:last-child{
			border-bottom: none;
		}
		a {
			color: #282828;
			display: block;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 15px;
			text-decoration: none;
			transition: all 0.3s ease-in-out;
			font-size: 18px;
			&:hover{
				background-color: #eee;
			}
		}
	}
}

// menu toggle конец

}











